@main("Keywest - About"){
<div id="background-image">
  <img src="@routes.Assets.versioned("images/dublin.jpg")">

<div class="About-Content">
  <div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" style="background-color:#2d2d30; padding-bottom: 3em; border-radius: 25px;">
	  <h1>About</h1>
      <p>Widely known for their explosive live performances, Keywest are a 5 piece Dublin based rock band comprising of Dublin & London born lads. Dublin members include singer Kav (Andy Kavanagh) and Glove (Andrew Glover) who plays Keys and rhythm guitar & Fionn (Fionn Lynch)</p>
<p></p>
<p>After starting the band, childhood friends Kav & Glove began playing in pubs around Dublin, they took the name Keywest after a trip to Florida for a gig. English lads Jimi Lock on lead guitar and drummer H (Harry Sullivan) were added following a similar trip to Los Angeles where the lads became good friends and stayed in contact.</p>
<p></p>
<p>After making the decision for the English duo to move over to Ireland, other obstacles became apparent to the band. One such obstacle was how a difficult move to Ireland could work, financially. Gigs were few and far between for a new band so Keywest in traditional fashion, avoided the slow gig scene and took to busking on the streets. Wise or unwise the band began honing their sound and style on the streets and quickly became famous for busking on Shop Street in Galway and Grafton Street in Dublin. </p>
<p></p>
<p>In 2012 the band released their debut album “The Message” which has since been awarded Triple Platinum Status. In 2015 the 5 piece released their highly antipated follow up album "JOYLAND" which shot straight into the Number 1 spot for a number of weeks.</p>
​<p></p>
<p>The theme of the new album perfectly echoes the sound of Keywest as you hear them on the streets. Raw and Rhythmical. Dark and moody Americana songs along side acoustic - driven, floor-filling festival sing alongs!!</p>
<p></p>
<p>This album was written on the street and with those experiences behind it. Songs designed to make you stop and listen. Songs like “Joyland” , “Reaper at the Door” & “Soldier On” tell of the bands journey while tracks like “iGeneration”, “All My Mistakes” & “Carousel” will have a crowd singing back on the first listen.</p>
 <p></p>
<p>Now an mutli-award winning band including Hotpress Magazines award for “MOST PROMISING“, Keywest's fanbase has grown exponentially on social media and their numbers continue to sky rocket across the board with each passing day.</p>
</div>
    <div class="col-sm-1">
    </div>
  </div>
</div>


</div>

</div>
}