@main("Keywest - Videos"){
<div id="background-image">
  <img src="@routes.Assets.versioned("images/videoPage.jpg")">
</div>

<div class="Videos-Content">
  <div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" style=" padding-bottom: 3em;">
	  
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tGCwPaLhdIk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cNMEXf8eNMQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DFxQaCUeSyc" frameborder="0" allowfullscreen></iframe>
    </div>        
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mhvLbUS6K3c" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>



}